<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Benjamin Saulnier | Stretch Candidate  | bsaulnier@covermymeds.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Benjamin Saulnier</h1>
					<h2>Potential Stretch Candidate </h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						
						<h3><a href="mailto:bsaulnier@covermymeds.com">bsaulnier@covermymeds.com</a></h3>
						<h3>(513)-477-3839</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About Me</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								 <img src="https://previews.dropbox.com/p/thumb/ABfwqILSTsd5_ATy8UrcR6k2gZGlo6xi6avbtw1POCN4ysFkUslBBU2UtTCn_O_p9hq7Ng_fXXWeIqAnQ5SxHQ80LBB2TlU5XDwIFNNVJcMEn4iRXhmAQWLfShaT0_txe2b-nItd8o6CUkV3hbVyZq7StPAjyC6s5Xj1U1BGAWX1xU7lfzvmWZPRiVRVq3GovjtXM2IhY9ApuvZNjIfoQQitGTcvO_VfvfX_Lkl4TFdcHV-yXuaTV1M5DN4v7CctV_ykH80YI0mSbpIITTSDQNJmlIh5toILr7iAiEe2xly4Ud4L_cuvtZAlR-_LepvF_Pu3w_IH3km9fwXhDWi8jT4tXU7qNQTtRH6DXn73vvdvV2EUGAmO3uFeyHuUSqKNbWY/p.jpeg" alt=""
								 width="500" height="600"> 
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Nunchuck Skills</h2>
									<p>	I talk the talk but trip often <br>when I walk</p>
								</div>

								<div class="talent">
									<h2>Bowhunting Skills</h2>
									<p>	 Bows make me quiver</p>
								</div>

								<div class="talent">
									<h2>Computer Hacking Skills</h2>
									<p> Anonymous Memember and Public Relations head</p>
								</div>
						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Codecademy Course Completed</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2><strong>Ruby</h2>
								<h3></h3>
								<h4></h4>
								<p></p>
							</div>

							<div class="job">
								<h2>Ruby on Rails</h2>
								<h3></h3>
								<h4></h4>
								<p>.</p>
							</div>

							<div class="job">
								<h2>HTML, CSS, Javascript</h2>
								<h3></h3>
								<h4></h4>
								<p>.</p>
							</div>


							<div class="job last">
								<h2>Github</h2>
								<h3></h3>
								<h4></h4>
								<p>.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Ohio University - Athens, Ohio</h2>
							<h3> Bachelor of Media Arts and Communication &mdash; <strong>Very Good GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Benjamin Saulnier &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

